<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion=!(bind.fileVersion.filDD92BED66D8CCAE233C37576A2AB17A7)?>
  <?define OldUpgradeCode = "d398568a-92c0-4230-959c-03bc7d136570"?>
  <?define UpgradeCode = "3347CE98-D382-4E37-94C8-7548D0777736"?>
  <Product Id="*"
           Name="Octgn v$(var.ProductVersion)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="OCTGN"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="limited" Description="Version: $(var.ProductVersion)" Comments="Version: $(var.ProductVersion)"/>

    <MajorUpgrade AllowDowngrades="yes"/>
    <MediaTemplate EmbedCab="yes" />

    <!-- Exits successfully in the case newer version are already installed -->
    <CustomActionRef Id="WixExitEarlyWithSuccess"/>

    <Icon Id="icon.ico" SourceFile="$(var.RootPath)\octgnFX\Octgn\Resources\Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="OLDINSTALLDIR">
      <RegistrySearch Id='OldInstallPathRegistry' Type='raw'
        Root='HKCU' Key='Software\OCTGN' Name='InstallDirectory' Win64='no'/>
    </Property>

    <Condition Message="An older version of OCTGN has been detected. Please uninstall it first before installing this version of OCTGN.">NOT OLDINSTALLDIR OR Installed</Condition>

    <Property Id="INSTALLDIR">
      <RegistrySearch Id='InstallPathRegistry' Type='raw'
        Root='HKCU' Key='Software\OCTGN' Name='InstallPath' Win64='no'/>
    </Property>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.RootPath)\EULA.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.RootPath)\octgnFX\Graphics\InstallerBanner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.RootPath)\octgnFX\Graphics\InstallerDialog.png" />

    <Feature Id="ProductFeature" Title="Octgn Program" Level="1" Absent="disallow" ConfigurableDirectory="INSTALLDIR" Display="expand" Description="The OCTGN application" AllowAdvertise="no">
        <ComponentGroupRef Id="O__HeatGenerated"/>
        <ComponentRef Id="RemoveInstalledDirectories"/>
        <ComponentRef Id="InstallDirUninstaller" />
        <ComponentRef Id="ProgramFolderUninstaller" />
    </Feature>
    <Feature Id="Feat.Shell.DeckIcon" Title=".o8d(Deck) File Integration" Absent="allow" Description="Allows o8d files to launch OCTGN" AllowAdvertise="no">
      <ComponentRef Id="Comp.Shell.DeckIcon"/>
      <ComponentRef Id="Comp.Shell.CustomProtocol"/>
    </Feature>
    <Feature Id="Feat.StartMenu.Shortcuts" Title="Start Menu Shortcuts" Absent="allow" Description="Start Menu Shortcuts for OCTGN" AllowAdvertise="no">
      <ComponentRef Id="Comp.StartMenu.Shortcuts"/>
    </Feature>
    <Feature Id="Feat.Dev" Title="Game Developer Features" Absent="allow" Level="2" Description="OCTGN game developer features" AllowAdvertise="no">
      <Component Id="Empty.Fixes.Bug" Guid="{411C356E-20F6-4D63-8A32-C25DED282F37}" Directory="INSTALLDIR">
        <RegistryValue Root="HKCU" Key="Software\OCTGN" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Feature Id="Octgn.Feature.OctgnInPath" Title="Octgn In %PATH%" Absent="allow" AllowAdvertise="no" Description="Adds the OCTGN install directory to the current users %PATH%">
        <ComponentRef Id="Octgn.Components.OctgnInPath"/>
      </Feature>
      <Feature Id="Feat.Dev.StartMenu" Title="Start Menu Shortcuts" Absent="allow" Description="Add shortcuts to the start menu for game developers" Display="expand" AllowAdvertise="no">
        <ComponentRef Id="Comp.StartMenu.Dev"/>
        <Feature Id="Feat.Dev.StartMenu.OctgnDeveloperMode" Title="OCTGN (Developer Mode)" AllowAdvertise="no" Description="Unlockes additional features in OCTGN for game developers">
          <ComponentRef Id="Comp.StartMenu.Dev.OctgnDeveloperMode"/>
        </Feature>
        <Feature Id="Feat.Dev.StartMenu.O8BuildGui" Title="O8Build Gui" Description="Tool for packaging and validating games" AllowAdvertise="no">
          <ComponentRef Id="Comp.StartMenu.Dev.O8BuildGui"/>
        </Feature>
        <Feature Id="Feat.Dev.StartMenu.ProxygenTest" Title="Proxy Tester" AllowAdvertise="no" Description="Tool for testing proxy definitions">
          <ComponentRef Id="Comp.StartMenu.Dev.ProxygenTest"/>
        </Feature>
      </Feature>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ProgramsFolder" Name="Programs">
          <Directory Id="INSTALLDIR" Name="OCTGN">
            <Component Id="InstallDirUninstaller" Guid="{46BF2569-B522-4F50-807C-DC111C54BA1A}" Location="local">
              <CreateFolder Directory="INSTALLDIR" />
              <RemoveFolder Id="RemoveInstallDir" Directory="INSTALLDIR" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\OCTGN" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
          </Directory>
          <Component Id="ProgramFolderUninstaller" Guid="{6A5CE7B2-70E1-4E89-8B24-873EF5A2338C}" Location="local">
            <CreateFolder Directory="ProgramsFolder" />
            <RemoveFolder Id="RemoveProgramFolder" Directory="ProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\OCTGN" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="OCTGN"/>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
