<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="UpdateManagerConfig" type="Octgn.Online.Library.UpdateManager.UpdateManagerConfig, Octgn.Online.Library" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="GameServiceHost" value="http://localhost:5880/GameManager" />
    <add key="SASManagerHost" value="http://localhost:5890" />
  </appSettings>
  <UpdateManagerConfig Enabled="false" UpdateFrequency="60000" UpdateFeed="https://www.myget.org/F/octgn/" PackageName="Octgn.Online.SASManagerService" />
  <log4net>
    <root>
      <!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline %exception" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="its.the.doc@gmail.com" />
      <from value="no-reply@octgn.net" />
      <subject value="Octgn.Online.SASManagerService Error" />
      <!--<authentication value="Basic"/>-->
      <smtpHost value="mail.octgn.net" />
      <!--<username value="no-reply@octgn.net" />
      <password value="" />-->
      <bufferSize value="512" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="WARN" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.40416.9020" newVersion="2.5.40416.9020" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
