<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ServerPath" value="of.octgn.net"/>
    <add key="XmppUsername" value="gameserv"/>
    <add key="XmppPassword" value="iamthepass1" />
  </appSettings>
</configuration>
