<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="Skylabs.LobbyServer"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>
