<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="XmppUsername" value="gameserv" xdt:Locator="Condition(@key='XmppUsername')" xdt:Transform="Replace"/>
    <add key="LOGENTRIES_TOKEN" value="d5c4e2f7-2280-4fe1-b32e-ce0125f24fe1" xdt:Transform="Replace" xdt:Locator="Condition(@key='LOGENTRIES_TOKEN')"/>
    <add key="BroadcastPort" value="21240" xdt:Transform="Replace" xdt:Locator="Condition(@key='BroadcastPort')"/>
    <add key="TestMode" value="false" xdt:Transform="Replace" xdt:Locator="Condition(@key='BroadcastPort')"/>
  </appSettings>
</configuration>