<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion=!(bind.packageVersion.MainPackage)?>
  <Bundle Name="Octgn v$(var.ProductVersion)"
          Version="$(var.ProductVersion)"
          Manufacturer="OCTGN"
          UpgradeCode="da1d66fd-8029-4b53-b5c4-523a73fd22f0"
          IconSourceFile="$(var.RootPath)\octgnFX\Octgn\Resources\Icon.ico"
  >
    <Variable Name='BundleVersion' Value='$(var.ProductVersion)' Type='string' Persisted='yes' />

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost" >
      <Payload SourceFile="..\Octgn.Installer.Bundle.UI\bin\$(var.Octgn.Installer.Configuration)\BootstrapperCore.config"/>
      <Payload SourceFile="..\Octgn.Installer.Bundle.UI\bin\$(var.Octgn.Installer.Configuration)\Microsoft.WindowsAPICodePack.dll"/>
      <Payload SourceFile="..\Octgn.Installer.Bundle.UI\bin\$(var.Octgn.Installer.Configuration)\Microsoft.WindowsAPICodePack.Shell.dll"/>
      <Payload SourceFile="..\Octgn.Installer.Bundle.UI\bin\$(var.Octgn.Installer.Configuration)\Microsoft.WindowsAPICodePack.ShellExtensions.dll"/>
      <Payload SourceFile="..\Octgn.Installer.Bundle.UI\bin\$(var.Octgn.Installer.Configuration)\Octgn.Installer.Bundle.UI.dll"/>
      <Payload SourceFile="C:\Program Files (x86)\WiX Toolset v3.11\SDK\Microsoft.Deployment.WindowsInstaller.dll"/>
    </BootstrapperApplicationRef>
    
    <Chain>
      <PackageGroupRef Id="NetFx47Redist"/>

      <RollbackBoundary />

      <MsiPackage Id="MainPackage" SourceFile="..\Octgn.Installer\bin\$(var.Octgn.Installer.Configuration)\Octgn.Installer.msi" Vital="yes" Compressed="yes">
        <MsiProperty Name="INSTALLDIR" Value="[INSTALLDIR]"/>
        <MsiProperty Name="DATADIRECTORY" Value="[DATADIRECTORY]"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
