
/octgnFX/Octgn/bin
/octgnFX/Octgn.Data/obj
/octgnFX/Octgn.Data/bin
/octgnFX/Octgn/obj
/octgnFX/Octgn.LobbyServer/obj
/octgnFX/Octgn.LobbyServer/bin
/octgnFX/CassiniDev/CassiniDev/obj
/octgnFX/CassiniDev/CassiniDev/bin
/octgnFX/ConsoleHelper/obj
/octgnFX/ConsoleHelper/bin
/octgnFX/Octgn.Server/obj
/octgnFX/Octgn.Server/bin
/octgnFX/Octgn.StandAloneServer/obj
/octgnFX/Skylabs.Lobby/obj
/octgnFX/Skylabs.Lobby/bin
/octgnFX/Skylabs.MultiLogin/obj
/octgnFX/Skylabs.MultiLogin/bin
/octgnFX/Webcontent/obj
/octgnFX/Octgn/OCTGN.suo
/octgnFX/Octgn/OCTGN.sln.docstates.suo