[submodule "KellyElton.SignalR.TypeSafe"]
	path = KellyElton.SignalR.TypeSafe
	url = git@github.com:kellyelton/KellyElton.SignalR.TypeSafe.git
[submodule "octgnFX/Octgn.Communication"]
	path = octgnFX/Octgn.Communication
	url = git@github.com:octgn/Octgn.Communication.git
