*.[Cc]ache
*.[Oo]bj
*.aps
*.bak
*.DS_Store
*.ilk
*.lib
*.log
*.ncb
*.opensdf
*.pch
*.resharper
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.orig
.svn
*.DotSettings
/octgnFX/CassiniDev/CassiniDev/bin
/octgnFX/CassiniDev/CassiniDev/obj
/octgnFX/ConsoleHelper/bin
/octgnFX/ConsoleHelper/obj
/octgnFX/Octgn.Data/bin
/octgnFX/Octgn.Data/obj
/octgnFX/Octgn.LobbyServer/bin
/octgnFX/Octgn.LobbyServer/obj
/octgnFX/Octgn.Server/bin
/octgnFX/Octgn.Server/obj
/octgnFX/Octgn.StandAloneServer/obj
/octgnFX/Octgn/bin
/octgnFX/Octgn/obj
/octgnFX/Octgn/OCTGN.sln.docstates.suo
/octgnFX/Octgn/OCTGN.suo
/octgnFX/Skylabs.Lobby/bin
/octgnFX/Skylabs.Lobby/obj
/octgnFX/Skylabs.MultiLogin/bin
/octgnFX/Skylabs.MultiLogin/obj
/octgnFX/Webcontent/obj
[Bb]in
[Dd]ebug*/
[Oo]bj
[Rr]elease*/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
_ReSharper.*
~$*
Ankh.NoLoad
ipch/
obj/
octgnFX/Webcontent/Bin

*.ctl
*.vsp
*.psess

*.typemock
*.ncrunchsolution
octgn/_UpgradeReport_Files/*
*.ncrunchproject
octgn/UpgradeLog*.XML
octgn/monotorrent/
octgn/PeerSwarm/
$tf*
/octgnFX/Octgn/_TeamCity.OCTGN
_TeamCity.OCTGN

/*.jtconfig
/deploy/*.swp
/octgnFX/Octgn/Scripting/*.swp
/octgnFX/Octgn/*.tmp_proj
/installer/*.exe
/.HistoryData
