**/*.sln text
**/*.xml text
**/*.txt text
**/*.cs text
**/*.csproj text
**/*.md text
**/*.git* text
**/*.nsh text
**/*.nsi text
**/*.xsd text
**/*.xsx text
**/*.sql text
**/*.config text
**/*.resx text
**/*.xaml text
**/*.tt text
**/*.py text
**/*.bat text