body
{
	background-color:#222;
}
a
{
	text-decoration:none;
	color:#0061ff;
}
a:link
{
	color:#0061ff;
}
a:hover
{
	color:#9bc1ff;
}
#mainarea
{
    display:block;
    width:100%;
    background-color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:left:10px;
    width:800px;
	margin-left:auto;
	margin-right:auto;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 0, 0, .7);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 0, 0, .7);
    box-shadow: 0px 0px 20px 1px rgba(255, 0, 0, .7);
}
#ologo
{
    display:block;
    width:700px;
    height:256px;
    border-bottom:1px solid black;
}
.flist ul
{
    display:block;
    display:none;
    width:200px;
    margin-left:50px;
    text-align: left;
    
}
.q
{
    font-style: italic;
}
.a
{
    margin-left:10px;
    margin-bottom:5px;
    
}
.flist
{
    display:block;
    margin-right:15px;
}
#infocrap
{
    width:700px;
    margin-left:auto;
    margin-right:auto;
}
#omenu
{
    width:700px;
    height:24px;
}
#omenu li{
    display:block;
    float:left;
    text-align: center;
    
}
#omenu li a{
    display:block;
    padding: 5px 10px 5px 10px;
    height:24px;
    
}
#omenu li a:visited, #omenu li a:link, #omenu li a:active,#whatsnew
{
    color: #0061FF;
}
#omenu li a:hover,#whatsnew:hover
{
    background-color:black;
    color:white;
    cursor:pointer;
}
#whatsnew
{
    display:block;
    width:170px;
}
