*
{
    margin:0px;
    padding:0px;
}
#header
{
    padding:10px;
    width:100%;
    background-color:#333333;
    color:White;
}
#right
{
    position:absolute;
    right:10px;
    top:10px;
}