<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="Comp.StartMenu.Shortcuts" Guid="{9E4CD677-61C1-43F9-A5A8-300B5168C5FA}" Location="local">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="OCTGN"
                  Description="OCTGN Application"
                  Target="[#filDD92BED66D8CCAE233C37576A2AB17A7]"
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="LogExporterStartMenuShortcut"
                  Name="Log Exporter"
                  Description="OCTGN Log Exporter"
                  Target="[#filADC02EADCCD3A41A1292298778B013E3]"
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="UninstallOctgnShortcut"
                  Name="Uninstall"
                  Description="Uninstalls Octgn"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="CleanUpShortcut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\OCTGN" Name="InstallPath" Type="string" Value="[INSTALLDIR]" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
