<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <Property Id="Octgn.EventSourceProperty">Octgn</Property>

    <CustomAction Id="SetCustomPropertiesForChangeEventSourceSize_OctgnAction" Property="ChangeEventSourceSize_Octgn" Value="SOURCENAME=[Octgn.EventSourceProperty]" />
    <CustomAction Id="ChangeEventSourceSize_Octgn" Execute="deferred" BinaryKey="Octgn.Installer.CustomActions.dll" DllEntry="ChangeEventSourceSize"></CustomAction>

    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />
    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR64" />
    <PropertyRef Id="NETFRAMEWORK40CLIENTINSTALLROOTDIR" />
    <PropertyRef Id="NETFRAMEWORK40CLIENTINSTALLROOTDIR64" />
    <ComponentGroup Id="Octgn.EventSourceComponentGroup" Directory="Octgn.InstallDirectory">
      <Component Id="Octgn.CreateEventSource32BitFullNet4" Guid="{300F19A5-6F1E-4AD0-9928-82B0E8962A9C}">
        <Condition><![CDATA[NETFRAMEWORK40FULLINSTALLROOTDIR AND NOT VersionNT64]]></Condition>
        <CreateFolder />
        <!-- Create an Event Source -->
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension" Name="[Octgn.EventSourceProperty]" Log="[Octgn.EventSourceProperty]" EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll" />
      </Component>

      <!-- Event Source creation for 32bit OS with .NET 4 Client Profile-->
      <Component Id="Octgn.CreateEventSource32BitClientNet4" Guid="{9B2227E3-02B9-425A-9A9A-2008699DD0E1}">
        <Condition><![CDATA[NETFRAMEWORK40CLIENTINSTALLROOTDIR AND NOT VersionNT64]]></Condition>
        <CreateFolder />
        <!-- Create an Event Source -->
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension" Name="[Octgn.EventSourceProperty]" Log="[Octgn.EventSourceProperty]" EventMessageFile="[NETFRAMEWORK40CLIENTINSTALLROOTDIR]EventLogMessages.dll" />
      </Component>

      <!-- Event Source creation for 64bit OS with .NET 4 Full -->
      <Component Id="Octgn.CreateEventSource64BitFullNet4" Guid="{32759772-DFBA-4349-BDBE-9AE05708E6E6}">
        <Condition><![CDATA[NETFRAMEWORK40FULLINSTALLROOTDIR64 AND VersionNT64]]></Condition>
        <CreateFolder />
        <!-- Create an Event Source -->
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension" Name="[Octgn.EventSourceProperty]" Log="[Octgn.EventSourceProperty]" EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR64]EventLogMessages.dll" />
      </Component>

      <!-- Event Source creation for 64bit OS with .NET 4 Client Profile -->
      <Component Id="Octgn.CreateEventSource64BitClientNet4" Guid="{3E34A500-D916-4D87-8AC8-EE65C883B88F}">
        <Condition><![CDATA[NETFRAMEWORK40CLIENTINSTALLROOTDIR64 AND VersionNT64]]></Condition>
        <CreateFolder />
        <!-- Create an Event Source -->
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension" Name="[Octgn.EventSourceProperty]" Log="[Octgn.EventSourceProperty]" EventMessageFile="[NETFRAMEWORK40CLIENTINSTALLROOTDIR64]EventLogMessages.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
