<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Octgn.DeckIconSupport">
        <RegistryValue Root="HKCU" Key="Software\Classes\.o8d" Type="string" Value="octgn.o8d" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn.o8d" Type="string" Value="OCTGN Deck File" KeyPath="no"/>
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn.o8d\DefaultIcon" Type="string" Value="[#filCFF5B796DD323F2CD1F94F9BB1D19852]" KeyPath="no"/>
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn.o8d\shell\open\command" Type="string" Value="&quot;[#fil59E2C7E4B79381DF45FA80A2BB35088F]&quot; &quot;%1&quot;" KeyPath="no"/>
      </Component>
      <Component Id="Octgn.CustomProtocolSupport">
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn" Type="string" Value="URL:OCTGN Protocol" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn" Type="string" Name="URL Protocol" Value="" KeyPath="no"/>
        <RegistryValue Root="HKCU" Key="Software\Classes\octgn\shell\open\command" Type="string" Value="&quot;[#fil59E2C7E4B79381DF45FA80A2BB35088F]&quot; &quot;%1&quot;" KeyPath="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{C4E89AA8-778A-4D0E-BDC0-00D78B1BEA61}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="OCTGN"
                  Description="OCTGN Application"
                  Target="[#fil59E2C7E4B79381DF45FA80A2BB35088F]"
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="LogExporterStartMenuShortcut"
                  Name="Log Exporter"
                  Description="OCTGN Log Exporter"
                  Target="[#filADC02EADCCD3A41A1292298778B013E3]"
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="UninstallOctgn"
                  Name="Uninstall"
                  Description="Uninstalls Octgn"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\OCTGN" Name="InstallPath" Type="string" Value="[INSTALLDIR]" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="Octgn.AppComponents" Directory="INSTALLDIR">
      <ComponentGroupRef Id="O__HeatGenerated"/>
      <ComponentRef Id="RemoveInstalledDirectories"/>
      <ComponentRef Id="ApplicationShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>
