* {
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: #333333;
    color: White;
    padding: 10px;
    width: 100%;
}

#right {
    position: absolute;
    right: 10px;
    top: 10px;
}