<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octgn.LobbyServer.server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octgn.LobbyServer.serverdebug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Octgn.LobbyServer.server>
            <setting name="BindTo" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BindPort" serializeAs="String">
                <value>7535</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value>www.skylabsonline.com</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>lobby</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>8BAtKPVrzFqEGjdj</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>lobby</value>
            </setting>
            <setting name="webserverport" serializeAs="String">
                <value>7530</value>
            </setting>
        </Octgn.LobbyServer.server>
        <Octgn.LobbyServer.serverdebug>
            <setting name="BindTo" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BindPort" serializeAs="String">
                <value>7535</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value>www.skylabsonline.com</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>lobby</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>8BAtKPVrzFqEGjdj</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>lobby</value>
            </setting>
            <setting name="webserverport" serializeAs="String">
                <value>7530</value>
            </setting>
        </Octgn.LobbyServer.serverdebug>
    </userSettings>
</configuration>