<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="UpdateManagerConfig" type="Octgn.Online.Library.UpdateManager.UpdateManagerConfig, Octgn.Online.Library" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SasManagerServiceHost" value="http://localhost:5890/SasManager" />
    <add key="LOGENTRIES_TOKEN" value="a4249a9e-9073-4884-b85f-d403448e9e81" />
    <add key="log4net.Internal.Debug" value="false" />
    
    
  <add key="LOGENTRIES_TOKEN" value="" /><add key="log4net.Internal.Debug" value="true" /><add key="LOGENTRIES_ACCOUNT_KEY" value="" /><add key="LOGENTRIES_LOCATION" value="" /></appSettings>
  <UpdateManagerConfig Enabled="false" UpdateFrequency="60000" UpdateFeed="https://www.myget.org/F/octgn/" PackageName="Octgn.Online.StandAloneServer" />
  <log4net>
    <root>
      <!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogentriesAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline %exception" />
      </layout>
    </appender>
    <appender name="LogentriesAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
      <Debug value="false" />
      <HttpPut value="false" />
      <Ssl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%level %date [%thread] %logger - %message%newline %exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.40416.9020" newVersion="2.5.40416.9020" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
