<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="LOGENTRIES_TOKEN" value="" />
  <add key="log4net.Internal.Debug" value="true" />
  <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
  <add key="LOGENTRIES_LOCATION" value="" />
</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>