<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ChatServerPath" value="of.octgn.net"/>
    <add key="GameServerPath" value="games.octgn.net"/>
    <add key="WebsitePath" value="http://www.octgn.net/"/>
    <add key="UpdateCheckPath" value="https://raw.github.com/kellyelton/OCTGN/master/deploy/currentversion.txt"/>
    <add key="UpdateCheckPathTest" value="https://raw.github.com/kellyelton/OCTGN/master/deploy/currentversiontest.txt"/>
    <add key="GameFeed" value="http://www.myget.org/F/octgngames/"/>
    <add key="UseGamePackageManagement" value="false"/>
  </appSettings>
</configuration>
