<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Octgn.TestServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Octgn.lobbysettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Octgn.DEBUGLobbySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Octgn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <Octgn.lobbysettings>
      <setting name="ServerPort" serializeAs="String">
        <value>7535</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>www.skylabsonline.com</value>
      </setting>
    </Octgn.lobbysettings>
    <Octgn.DEBUGLobbySettings>
      <setting name="Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>7535</value>
      </setting>
    </Octgn.DEBUGLobbySettings>
    <Octgn.Properties.Settings>
      <setting name="ServePort" serializeAs="String">
        <value>8088</value>
      </setting>
      <setting name="IsUserConfigured" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviousVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="DontShowInstallNotice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="NickName" serializeAs="String">
        <value>Nickname</value>
      </setting>
    </Octgn.Properties.Settings>
  </userSettings>
</configuration>
