<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="8daadfd9-5469-4716-aad5-ee1714ea9216" xdt:Transform="Replace" xdt:Locator="Condition(@key='LOGENTRIES_TOKEN')"/>
  </appSettings>
  <appSettings>
    <add key="WebsitePath" value="https://www.octgn.net/" xdt:Locator="Condition(@key='WebsitePath')" xdt:Transform="Replace"/>
  </appSettings>
	<log4net>
		<root>
			<!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
			<level value="INFO" xdt:Transform="Replace"/>
		</root>
	</log4net>
</configuration>