<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agsxmpp" version="1.2.9.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="Exceptionless" version="3.3.1590" targetFramework="net45" />
  <package id="Exceptionless.Portable" version="3.3.1590" targetFramework="net45" />
  <package id="Exceptionless.Wpf" version="3.3.1590" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net40" />
  <package id="IronPython" version="2.7.5" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Mono.Options" version="4.2.2.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net40" />
  <package id="Octgn.Site.Api" version="1.0.1.171" targetFramework="net45" />
  <package id="ToggleSwitch" version="1.1.2" targetFramework="net40" />
</packages>