<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPython" version="2.7.3" targetFramework="net40" />
  <package id="le_log4net" version="2.3.5" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Nuget.Core" version="2.2.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.83.0" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.41" targetFramework="net40" />
  <package id="WpfAnimatedGif" version="1.4.0-beta1" targetFramework="net40" />
</packages>