<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Skylabs.Lobby"
                          publicKeyToken="null"
                          culture="neutral" />
        <codebase version="3.0.0.7" href="/" ></codebase>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Skylabs.LobbyServer"
                          publicKeyToken="null"
                          culture="neutral" />
        <codebase version="3.0.0.7" href="/" ></codebase>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="test" value="testingvalue"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
      
        <assemblies>
          <add assembly="Skylabs.Lobby, Version=3.0.0.7, Culture=neutral, PublicKeyToken=null" />
          <add assembly="Skylabs.LobbyServer, Version=3.0.0.7, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
      </compilation>
		
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
