<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net451" />
  <package id="jQuery" version="2.1.1" targetFramework="net451" />
  <package id="json2" version="1.0.2" targetFramework="net451" />
  <package id="knockoutjs" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.1.2" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.0" targetFramework="net451" />
  <package id="Nancy" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Owin" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Serialization.ServiceStack" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net451" />
</packages>