<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.20-alpha-20220-88" targetFramework="net40" />
  <package id="Microsoft.Owin.Hosting" version="0.20-alpha-20220-88" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
</packages>