<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agsxmpp" version="1.2.9.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net40" requireReinstallation="true" />
</packages>