<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.21.11" targetFramework="net47" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net47" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net47" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net47" />
  <package id="log4net" version="2.0.15" targetFramework="net47" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net47" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.31" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="6.8.8" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net47" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.5" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net47" />
</packages>