@inherits Octgn.Client.WebViewBase<dynamic>
<div id="JoinGame">
    <h2>Join Game</h2>
    <label>@RT("Global_Username")</label>
    <input id="JoinGame_Input_Username" />
    <label>@RT("Global_Host")</label>
    <input id="JoinGame_Input_Host" />
    <button id="JoinGame_Button_Join">@RT("Global_Join")</button>
</div>