@inherits Octgn.Client.WebViewBase<dynamic>
<div id="HostGame">
    <label>@RT("Global_Username")</label>
    <input id="HostGame_Input_Username"/>
    <button id="HostGame_Button_Host">@RT("Global_Host")</button>
</div>