@inherits Octgn.Client.WebViewBase<dynamic>
<script type="text/javascript">
    //$(function () {
    //    //Create host game dialog
    //    alertify.genericDialog || alertify.dialog('hostGameDialog', function () {
    //        return {
    //            main: function (content) {
    //                this.setContent(content);
    //            },
    //            setup: function () {
    //                return {
    //                    focus: {
    //                        element: function () {
    //                            return this.elements.body.querySelector(this.get('selector'));
    //                        },
    //                        select: true
    //                    },
    //                    options: {
    //                        basic: true,
    //                        maximizable: false,
    //                        resizable: false,
    //                        padding: false
    //                    }
    //                };
    //            },
    //            settings: {
    //                selector: undefined
    //            }
    //        };
    //    });
    //    //force focusing password box
    //});
</script>
<div id="HostGame">
    <label>@RT("Global_Username")</label>
    <input id="HostGame_Input_Username"/>
    <button id="HostGame_Button_Host">@RT("Global_Host")</button>
</div>