@inherits Octgn.Client.WebViewBase<dynamic>
<div id="HostGame">
    <div class="PartialHostGame_Header">Host Game</div>
    <label>@RT("Global_Username")</label>
    <input id="HostGame_Input_Username"/>
    <div class="PartialHostGame_Footer">
        <button id="HostGame_Button_Host">@RT("Global_Host")</button>
    </div>
</div>