@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<div id="HostGame">
    <label>Username</label>
    <input id="HostGame_Input_Username"/>
    <button id="HostGame_Button_Host">Host</button>
</div>