<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="XmppUsername" value="matchmaking" xdt:Locator="Condition(@key='XmppUsername')" xdt:Transform="Replace"/>
    <add key="LOGENTRIES_TOKEN" value="a6ec7937-de65-457a-9132-e5d44b882269" xdt:Transform="Replace" xdt:Locator="Condition(@key='LOGENTRIES_TOKEN')"/>
    <add key="TestMode" value="false" xdt:Transform="Replace" xdt:Locator="Condition(@key='TestMode')"/>
  </appSettings>
</configuration>