<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="XmppUsername" value="matchmaking-test" xdt:Locator="Condition(@key='XmppUsername')" xdt:Transform="Replace"/>
    <add key="LOGENTRIES_TOKEN" value="4863f09c-84ce-4249-8d32-731d024bdbc4" xdt:Transform="Replace" xdt:Locator="Condition(@key='LOGENTRIES_TOKEN')"/>
    <add key="TestMode" value="true" xdt:Transform="Replace" xdt:Locator="Condition(@key='TestMode')"/>
  </appSettings>
</configuration>